# Data collection

The goal of this presentation is to automate data collection.
We need some historical data to build our model and predict electrical consumption in Paris for J+1.   
Basically we need to collect as much interesting data as possible, starting from nothing.

### Available techniques

- Download a file
- Read a database
- Call an API
- Scrap the internet
- reflection

### Expected output

Datasets saved on our computer with file formats easily readable by python : csv, json, xml, excel

### Quizz (5 minutes) : What kind of data might be interesting to make a prediction ?

### Suggestions : 


The data we are going to collect : 

- Historical electrical consumption of Paris
- Historical weather
- weather forecast
- Days off in France

- How many electric vehicules
-

### Workshop (15 minutes) : Try to collect the data


### Easy : Historical electrical consumption

[Electrical consumption in île-de-France between 2013 and 2017](https://rte-opendata.opendatasoft.com/explore/dataset/eco2mix_regional_cons_def/export/?disjunctive.libelle_region&disjunctive.nature&sort=-date_heure&refine.libelle_region=Ile-de-France)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
consumption = pd.read_csv("./data/eco2mix_regional_cons_def.csv", delimiter=";",parse_dates=["Date - Heure"])
consumption.set_index('Date - Heure',inplace=True)

In [4]:
consumption.sort_index(inplace=True)
consumption.head(3)

,Code INSEE région,Région,Nature,Date,Heure,Consommation (MW),Thermique (MW),Nucléaire (MW),Eolien (MW),Solaire (MW),Hydraulique (MW),Pompage (MW),Bioénergies (MW),Ech. physiques (MW)
Date - Heure,,,,,,,,,,,,,,
2012-12-31 23:00:00,11,Ile-de-France,Données définitives,2013-01-01,00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-12-31 23:30:00,11,Ile-de-France,Données définitives,2013-01-01,00:30,9134.0,685.0,NaN,16.0,0.0,0.0,NaN,142.0,8289.0
2013-01-01 00:00:00,11,Ile-de-France,Données définitives,2013-01-01,01:00,8822.0,685.0,NaN,16.0,0.0,0.0,NaN,142.0,7977.0

In [ ]:
consumption.resample('D').count()

In [ ]:
consumption["Code INSEE région"].value_counts()

In [ ]:
# 31 march 2013 appears twice, strange
consumption["Date - Heure"].describe()

## Less easy : Historical weather

Not enough data : [Prévision Météo - Paris - AROME](https://public.opendatasoft.com/explore/dataset/arome-0025-sp1_sp2_paris/export/)  
Let's pay for some data ! [Openweather map API](https://openweathermap.org/history-bulk) (10$ for 5 years of weather in paris : a bargain !)

In [12]:
weather = pd.read_csv("./data/meteo-paris.csv")
weather['dt'] = pd.to_datetime(weather['dt'],unit='s')
weather.set_index('dt',inplace=True)

In [13]:
weather.head()

,dt_iso,city_id,city_name,lat,lon,temp,temp_min,temp_max,pressure,sea_level,...,rain_today,snow_1h,snow_3h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon
dt,,,,,,,,,,,,,,,,,,,,,
2012-10-01 13:00:00,2012-10-01 13:00:00 +0000 UTC,2988507,NaN,NaN,NaN,293.320000,291.150000,298.150000,1017,NaN,...,NaN,NaN,NaN,NaN,NaN,0,800,Clear,Sky is Clear,01d
2012-10-01 14:00:00,2012-10-01 14:00:00 +0000 UTC,2988507,NaN,NaN,NaN,293.324271,293.324271,293.324271,1017,NaN,...,NaN,NaN,NaN,NaN,NaN,0,800,Clear,sky is Clear,01
2012-10-01 15:00:00,2012-10-01 15:00:00 +0000 UTC,2988507,NaN,NaN,NaN,293.334926,293.334926,293.334926,1017,NaN,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is Clear,01
2012-10-01 16:00:00,2012-10-01 16:00:00 +0000 UTC,2988507,NaN,NaN,NaN,293.345582,293.345582,293.345582,1017,NaN,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is Clear,01
2012-10-01 17:00:00,2012-10-01 17:00:00 +0000 UTC,2988507,NaN,NaN,NaN,293.356237,293.356237,293.356237,1017,NaN,...,NaN,NaN,NaN,NaN,NaN,2,800,Clear,sky is Clear,02

In [14]:
print(weather.index.min())
print(weather.index.max())

2012-10-01 13:00:00
2017-12-06 14:00:00

In [15]:
weather.resample('D').count()

,dt_iso,city_id,city_name,lat,lon,temp,temp_min,temp_max,pressure,sea_level,...,rain_today,snow_1h,snow_3h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon
dt,,,,,,,,,,,,,,,,,,,,,
2012-10-01,11,11,0,0,0,11,11,11,11,0,...,0,0,0,0,0,11,11,11,11,11
2012-10-02,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
2012-10-03,25,25,0,0,0,25,25,25,25,0,...,0,0,0,0,0,25,25,25,25,25
2012-10-04,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
2012-10-05,25,25,0,0,0,25,25,25,25,0,...,0,0,0,0,0,25,25,25,25,25
2012-10-06,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
2012-10-07,31,31,0,0,0,31,31,31,31,0,...,0,0,0,0,0,31,31,31,31,31
2012-10-08,27,27,0,0,0,27,27,27,27,0,...,0,0,0,0,0,27,27,27,27,27
2012-10-09,43,43,0,0,0,43,43,43,43,0,...,0,0,0,0,0,43,43,43,43,43
2012-10-10,25,25,0,0,0,25,25,25,25,0,...,0,0,0,0,0,25,25,25,25,25
2012-10-11,27,27,0,0,0,27,27,27,27,0,...,0,0,0,0,0,27,27,27,27,27
2012-10-12,34,34,0,0,0,34,34,34,34,0,...,0,0,0,0,0,34,34,34,34,34
2012-10-13,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
2012-10-14,30,30,0,0,0,30,30,30,30,0,...,0,0,0,0,0,30,30,30,30,30
2012-10-15,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
2012-10-16,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
2012-10-17,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
2012-10-18,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
2012-10-19,28,28,0,0,0,28,28,28,28,0,...,0,0,0,0,0,28,28,28,28,28
2012-10-20,25,25,0,0,0,25,25,25,25,0,...,0,0,0,0,0,25,25,25,25,25
2012-10-21,27,27,0,0,0,27,27,27,27,0,...,0,0,0,0,0,27,27,27,27,27
2012-10-22,28,28,0,0,0,28,28,28,28,0,...,0,0,0,0,0,28,28,28,28,28
2012-10-23,27,27,0,0,0,27,27,27,27,0,...,0,0,0,0,0,27,27,27,27,27
2012-10-24,30,30,0,0,0,30,30,30,30,0,...,0,0,0,0,0,30,30,30,30,30
2012-10-25,30,30,0,0,0,30,30,30,30,0,...,0,0,0,0,0,30,30,30,30,30
2012-10-26,26,26,0,0,0,26,26,26,26,0,...,0,0,0,0,0,26,26,26,26,26
2012-10-27,26,26,0,0,0,26,26,26,26,0,...,0,0,0,0,0,26,26,26,26,26
2012-10-28,25,25,0,0,0,25,25,25,25,0,...,0,0,0,0,0,25,25,25,25,25
2012-10-29,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
2012-10-30,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-11-07,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
2017-11-08,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
2017-11-09,28,28,0,0,0,28,28,28,28,0,...,0,0,0,0,0,28,28,28,28,28
2017-11-10,32,32,0,0,0,32,32,32,32,0,...,0,0,0,0,0,32,32,32,32,32
2017-11-11,44,44,0,0,0,44,44,44,44,0,...,0,0,0,0,0,44,44,44,44,44
2017-11-12,40,40,0,0,0,40,40,40,40,0,...,0,0,0,0,0,40,40,40,40,40
2017-11-13,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
2017-11-14,25,25,0,0,0,25,25,25,25,0,...,0,0,0,0,0,25,25,25,25,25
2017-11-15,30,30,0,0,0,30,30,30,30,0,...,0,0,0,0,0,30,30,30,30,30
2017-11-16,28,28,0,0,0,28,28,28,28,0,...,0,0,0,0,0,28,28,28,28,28
2017-11-17,27,27,0,0,0,27,27,27,27,0,...,0,0,0,0,0,27,27,27,27,27
2017-11-18,27,27,0,0,0,27,27,27,27,0,...,0,0,0,0,0,27,27,27,27,27
2017-11-19,27,27,0,0,0,27,27,27,27,0,...,0,0,0,0,0,27,27,27,27,27
2017-11-20,27,27,0,0,0,27,27,27,27,0,...,0,0,0,0,0,27,27,27,27,27
2017-11-21,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
2017-11-22,25,25,0,0,0,25,25,25,25,0,...,0,0,0,0,0,25,25,25,25,25
2017-11-23,26,26,0,0,0,26,26,26,26,0,...,0,0,0,0,0,26,26,26,26,26
2017-11-24,31,31,0,0,0,31,31,31,31,0,...,0,0,0,0,0,31,31,31,31,31
2017-11-25,25,25,0,0,0,25,25,25,25,0,...,0,0,0,0,0,25,25,25,25,25
2017-11-26,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
2017-11-27,25,25,0,0,0,25,25,25,25,0,...,0,0,0,0,0,25,25,25,25,25
2017-11-28,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
2017-11-29,26,26,0,0,0,26,26,26,26,0,...,0,0,0,0,0,26,26,26,26,26
2017-11-30,30,30,0,0,0,30,30,30,30,0,...,0,0,0,0,0,30,30,30,30,30
2017-12-01,28,28,0,0,0,28,28,28,28,0,...,0,0,0,0,0,28,28,28,28,28
2017-12-02,29,29,0,0,0,29,29,29,29,0,...,0,0,0,0,0,29,29,29,29,29
2017-12-03,44,44,0,0,0,44,44,44,44,0,...,0,0,0,0,0,44,44,44,44,44
2017-12-04,36,36,0,0,0,36,36,36,36,0,...,0,0,0,0,0,36,36,36,36,36
2017-12-05,32,32,0,0,0,32,32,32,32,0,...,0,0,0,0,0,32,32,32,32,32
2017-12-06,15,15,0,0,0,15,15,15,15,0,...,0,0,0,0,0,15,15,15,15,15

## Weather forecast 

To make a prediction we will need the weather forecast
Let's use an API to get this one

In [1]:
import os
import requests 
import pandas as pd

token = os.environ["OPENWEATHER"]
response = requests.get("http://api.openweathermap.org/data/2.5/forecast?id=2988507&mode=json&APPID={}".format(token)).json()

KeyError: 'OPENWEATHER'

NameError: name 'token' is not defined

In [ ]:
forecast = [{"date":x["dt_txt"], "temperature":x["main"]["temp"]} for x in response["list"]]

In [ ]:
df =pd.DataFrame(forecast)

In [ ]:
df.head(5)

# Days off in France

No dataset easily available, we are going to scrap the web :
https://www.calendrier-365.fr

In [24]:
from bs4 import BeautifulSoup
import requests 

days_off = []

for year in range(2012,2021):
    url = "https://www.calendrier-365.fr/jours-feries/{}.html".format(year)
    response = requests.get(url)
    soup = BeautifulSoup(response.text,"lxml")
    for x in soup.find_all("span", {"itemprop":"startDate"}):
        days_off.append(x.attrs["content"])

In [23]:
days_off

['2013-01-01',
 '2013-01-06',
 '2013-02-12',
 '2013-02-14',
 '2013-03-31',
 '2013-03-31',
 '2013-04-01',
 '2013-05-01',
 '2013-05-08',
 '2013-05-09',
 '2013-05-19',
 '2013-05-19',
 '2013-05-20',
 '2013-07-14',
 '2013-08-15',
 '2013-11-01',
 '2013-11-11',
 '2013-12-25',
 '2013-12-31',
 '2014-01-01',
 '2014-01-06',
 '2014-02-14',
 '2014-03-04',
 '2014-04-20',
 '2014-04-20',
 '2014-04-21',
 '2014-05-01',
 '2014-05-08',
 '2014-05-29',
 '2014-06-08',
 '2014-06-08',
 '2014-06-09',
 '2014-07-14',
 '2014-08-15',
 '2014-11-01',
 '2014-11-11',
 '2014-12-25',
 '2014-12-31',
 '2015-01-01',
 '2015-01-06',
 '2015-02-14',
 '2015-02-17',
 '2015-04-05',
 '2015-04-05',
 '2015-04-06',
 '2015-05-01',
 '2015-05-08',
 '2015-05-14',
 '2015-05-24',
 '2015-05-24',
 '2015-05-25',
 '2015-07-14',
 '2015-08-15',
 '2015-11-01',
 '2015-11-11',
 '2015-12-25',
 '2015-12-31',
 '2016-01-01',
 '2016-01-06',
 '2016-02-09',
 '2016-02-14',
 '2016-03-27',
 '2016-03-27',
 '2016-03-28',
 '2016-05-01',
 '2016-05-05',
 '2016-05-08',
 '2016-05-15',
 '2016-05-15',
 '2016-05-16',
 '2016-07-14',
 '2016-08-15',
 '2016-11-01',
 '2016-11-11',
 '2016-12-25',
 '2016-12-31',
 '2017-01-01',
 '2017-01-06',
 '2017-02-14',
 '2017-02-28',
 '2017-04-16',
 '2017-04-16',
 '2017-04-17',
 '2017-05-01',
 '2017-05-08',
 '2017-05-25',
 '2017-06-04',
 '2017-06-04',
 '2017-06-05',
 '2017-07-14',
 '2017-08-15',
 '2017-11-01',
 '2017-11-11',
 '2017-12-25',
 '2017-12-31',
 '2018-01-01',
 '2018-01-06',
 '2018-02-13',
 '2018-02-14',
 '2018-04-01',
 '2018-04-01',
 '2018-04-02',
 '2018-05-01',
 '2018-05-08',
 '2018-05-10',
 '2018-05-20',
 '2018-05-20',
 '2018-05-21',
 '2018-07-14',
 '2018-08-15',
 '2018-11-01',
 '2018-11-11',
 '2018-12-25',
 '2018-12-31',
 '2019-01-01',
 '2019-01-06',
 '2019-02-14',
 '2019-03-05',
 '2019-04-21',
 '2019-04-21',
 '2019-04-22',
 '2019-05-01',
 '2019-05-08',
 '2019-05-30',
 '2019-06-09',
 '2019-06-09',
 '2019-06-10',
 '2019-07-14',
 '2019-08-15',
 '2019-11-01',
 '2019-11-11',
 '2019-12-25',
 '2019-12-31']

In [25]:
def is_day_off(date):
    """
    Function to tell if a day is off in France
    Only works from 2013 to 2020.
    """
    if date.strftime("%Y-%m-%d") in days_off:
        return True
    return False

In [26]:
import datetime

today = datetime.datetime.today()
christmas = datetime.datetime(2018,12,25)
easter = datetime.datetime(2015,4,5)

print(is_day_off(today))
print(is_day_off(christmas))
print(is_day_off(easter))

False
True
True