# Data collection

The goal of this presentation is to automate data collection.
We need some historical data to build our model and predict electrical consumption in Paris for J+1.   
Basically we need to collect as much interesting data as possible, starting from nothing.

### Expected output

Datasets saved on our computer with file formats easily readable by python : csv, json, xml, excel

### Quizz (5 minutes) : What kind of data might be interesting to make a prediction ?

### Suggestions : 


The data we are going to collect : 

- Historical electrical consumption of Paris ( > 2 years of data)
- Historical weather ( > 2 years of data)
- weather forecast (temperature, wind, solar radiation ...)
- Days off in France
- ~~How many electric vehicules~~

## https://github.com/LucasBerbesson/ds2

### Workshop (15 minutes) : Try to collect the data


### Easy : Historical electrical consumption

[Electrical consumption in île-de-France between 2013 and 2017](https://rte-opendata.opendatasoft.com/explore/dataset/eco2mix_regional_cons_def/export/?disjunctive.libelle_region&disjunctive.nature&sort=-date_heure&refine.libelle_region=Ile-de-France)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
consumption = pd.read_csv("./data/eco2mix_regional_cons_def.csv", delimiter=";",parse_dates=["Date - Heure"])
consumption.set_index('Date - Heure',inplace=True)

In [4]:
consumption.sort_index(inplace=True)
consumption.head(3)

,Code INSEE région,Région,Nature,Date,Heure,Consommation (MW),Thermique (MW),Nucléaire (MW),Eolien (MW),Solaire (MW),Hydraulique (MW),Pompage (MW),Bioénergies (MW),Ech. physiques (MW)
Date - Heure,,,,,,,,,,,,,,
2012-12-31 23:00:00,11,Ile-de-France,Données définitives,2013-01-01,00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-12-31 23:30:00,11,Ile-de-France,Données définitives,2013-01-01,00:30,9134.0,685.0,NaN,16.0,0.0,0.0,NaN,142.0,8289.0
2013-01-01 00:00:00,11,Ile-de-France,Données définitives,2013-01-01,01:00,8822.0,685.0,NaN,16.0,0.0,0.0,NaN,142.0,7977.0

In [9]:
resample = consumption.resample('D').count()
resample[resample["Code INSEE région"]<48]

,Code INSEE région,Région,Nature,Date,Heure,Consommation (MW),Thermique (MW),Nucléaire (MW),Eolien (MW),Solaire (MW),Hydraulique (MW),Pompage (MW),Bioénergies (MW),Ech. physiques (MW)
Date - Heure,,,,,,,,,,,,,,
2012-12-31,2,2,2,2,2,1,1,0,1,1,1,0,1,1
2013-10-27,46,46,46,46,46,46,46,0,46,46,46,0,46,46
2014-10-26,46,46,46,46,46,46,46,0,46,46,46,0,46,46
2015-10-25,46,46,46,46,46,46,46,0,46,46,46,0,46,46
2016-10-30,46,46,46,46,46,46,46,0,46,46,46,0,46,46
2017-10-29,46,46,46,46,46,46,46,0,46,46,46,0,46,46
2018-04-30,44,44,44,44,44,44,44,0,44,44,44,0,44,44

## Less easy : Historical weather

Not enough data : [Prévision Météo - Paris - AROME](https://public.opendatasoft.com/explore/dataset/arome-0025-sp1_sp2_paris/export/)  
Let's pay for some data ! [Openweather map API](https://openweathermap.org/history-bulk) (10$ for 5 years of weather in paris : a bargain !)

In [11]:
weather = pd.read_csv("./data/meteo-paris.csv")
weather['dt'] = pd.to_datetime(weather['dt'],unit='s')
weather.set_index('dt',inplace=True)

In [12]:
weather.head()

,dt_iso,city_id,city_name,lat,lon,temp,temp_min,temp_max,pressure,sea_level,...,rain_today,snow_1h,snow_3h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon
dt,,,,,,,,,,,,,,,,,,,,,
2012-10-01 13:00:00,2012-10-01 13:00:00 +0000 UTC,2988507,NaN,NaN,NaN,293.320000,291.150000,298.150000,1017,NaN,...,NaN,NaN,NaN,NaN,NaN,0,800,Clear,Sky is Clear,01d
2012-10-01 14:00:00,2012-10-01 14:00:00 +0000 UTC,2988507,NaN,NaN,NaN,293.324271,293.324271,293.324271,1017,NaN,...,NaN,NaN,NaN,NaN,NaN,0,800,Clear,sky is Clear,01
2012-10-01 15:00:00,2012-10-01 15:00:00 +0000 UTC,2988507,NaN,NaN,NaN,293.334926,293.334926,293.334926,1017,NaN,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is Clear,01
2012-10-01 16:00:00,2012-10-01 16:00:00 +0000 UTC,2988507,NaN,NaN,NaN,293.345582,293.345582,293.345582,1017,NaN,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is Clear,01
2012-10-01 17:00:00,2012-10-01 17:00:00 +0000 UTC,2988507,NaN,NaN,NaN,293.356237,293.356237,293.356237,1017,NaN,...,NaN,NaN,NaN,NaN,NaN,2,800,Clear,sky is Clear,02

In [13]:
print(weather.index.min())
print(weather.index.max())

2012-10-01 13:00:00
2017-12-06 14:00:00

In [18]:
resample = weather.resample('D').count()
resample.sample(10)

,dt_iso,city_id,city_name,lat,lon,temp,temp_min,temp_max,pressure,sea_level,...,rain_today,snow_1h,snow_3h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon
dt,,,,,,,,,,,,,,,,,,,,,
2015-01-21,24,24,0,0,0,24,24,24,24,0,...,0,0,1,0,0,24,24,24,24,24
2013-05-09,30,30,0,0,0,30,30,30,30,0,...,0,0,0,0,0,30,30,30,30,30
2013-06-23,25,25,0,0,0,25,25,25,25,0,...,0,0,0,0,0,25,25,25,25,25
2013-07-06,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
2013-06-03,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
2017-03-28,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
2016-04-18,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
2015-01-02,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24
2016-05-12,40,40,0,0,0,40,40,40,40,0,...,0,0,0,0,0,40,40,40,40,40
2014-12-12,24,24,0,0,0,24,24,24,24,0,...,0,0,0,0,0,24,24,24,24,24

## Weather forecast 

To make a prediction we will need the weather forecast
Let's use an API to get this one

In [20]:
import os
import requests 
import pandas as pd

token = os.environ["OPENWEATHERMAP"]
response = requests.get("http://api.openweathermap.org/data/2.5/forecast?id=2988507&mode=json&APPID={}".format(token)).json()

response

{'cod': '200',
 'message': 0.0055,
 'cnt': 40,
 'list': [{'dt': 1531440000,
   'main': {'temp': 290.76,
    'temp_min': 290.76,
    'temp_max': 291.4,
    'pressure': 1021.49,
    'sea_level': 1033.38,
    'grnd_level': 1021.49,
    'humidity': 81,
    'temp_kf': -0.64},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02n'}],
   'clouds': {'all': 12},
   'wind': {'speed': 3.06, 'deg': 347},
   'sys': {'pod': 'n'},
   'dt_txt': '2018-07-13 00:00:00'},
  {'dt': 1531450800,
   'main': {'temp': 289.41,
    'temp_min': 289.41,
    'temp_max': 289.892,
    'pressure': 1021.29,
    'sea_level': 1033.2,
    'grnd_level': 1021.29,
    'humidity': 89,
    'temp_kf': -0.48},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02n'}],
   'clouds': {'all': 12},
   'wind': {'speed': 3, 'deg': 338.003},
   'sys': {'pod': 'n'},
   'dt_txt': '2018-07-13 03:00:00'},
  {'dt': 1531461600,
   'main': {'temp': 291.25,
    'temp_min': 291.25,
    'temp_max': 291.575,
    'pressure': 1021.59,
    'sea_level': 1033.66,
    'grnd_level': 1021.59,
    'humidity': 84,
    'temp_kf': -0.32},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 24},
   'wind': {'speed': 2.18, 'deg': 331.501},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-13 06:00:00'},
  {'dt': 1531472400,
   'main': {'temp': 296.58,
    'temp_min': 296.58,
    'temp_max': 296.738,
    'pressure': 1022.15,
    'sea_level': 1034.12,
    'grnd_level': 1022.15,
    'humidity': 71,
    'temp_kf': -0.16},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 32},
   'wind': {'speed': 2.46, 'deg': 3.50079},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-13 09:00:00'},
  {'dt': 1531483200,
   'main': {'temp': 299.366,
    'temp_min': 299.366,
    'temp_max': 299.366,
    'pressure': 1021.63,
    'sea_level': 1033.62,
    'grnd_level': 1021.63,
    'humidity': 65,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 32},
   'wind': {'speed': 2.01, 'deg': 17.0012},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-13 12:00:00'},
  {'dt': 1531494000,
   'main': {'temp': 297.222,
    'temp_min': 297.222,
    'temp_max': 297.222,
    'pressure': 1021.37,
    'sea_level': 1033.07,
    'grnd_level': 1021.37,
    'humidity': 77,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 44},
   'wind': {'speed': 1.87, 'deg': 38.5031},
   'rain': {'3h': 1.455},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-13 15:00:00'},
  {'dt': 1531504800,
   'main': {'temp': 297.714,
    'temp_min': 297.714,
    'temp_max': 297.714,
    'pressure': 1020.96,
    'sea_level': 1032.77,
    'grnd_level': 1020.96,
    'humidity': 64,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 24},
   'wind': {'speed': 1.37, 'deg': 29.004},
   'rain': {'3h': 0.605},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-13 18:00:00'},
  {'dt': 1531515600,
   'main': {'temp': 292.866,
    'temp_min': 292.866,
    'temp_max': 292.866,
    'pressure': 1021.77,
    'sea_level': 1033.64,
    'grnd_level': 1021.77,
    'humidity': 78,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02n'}],
   'clouds': {'all': 24},
   'wind': {'speed': 2.51, 'deg': 335.502},
   'rain': {},
   'sys': {'pod': 'n'},
   'dt_txt': '2018-07-13 21:00:00'},
  {'dt': 1531526400,
   'main': {'temp': 289.858,
    'temp_min': 289.858,
    'temp_max': 289.858,
    'pressure': 1021.93,
    'sea_level': 1033.81,
    'grnd_level': 1021.93,
    'humidity': 93,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 1.32, 'deg': 316.002},
   'rain': {},
   'sys': {'pod': 'n'},
   'dt_txt': '2018-07-14 00:00:00'},
  {'dt': 1531537200,
   'main': {'temp': 288.195,
    'temp_min': 288.195,
    'temp_max': 288.195,
    'pressure': 1021.65,
    'sea_level': 1033.77,
    'grnd_level': 1021.65,
    'humidity': 91,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 1.2, 'deg': 307.001},
   'rain': {},
   'sys': {'pod': 'n'},
   'dt_txt': '2018-07-14 03:00:00'},
  {'dt': 1531548000,
   'main': {'temp': 291.786,
    'temp_min': 291.786,
    'temp_max': 291.786,
    'pressure': 1022.01,
    'sea_level': 1034.03,
    'grnd_level': 1022.01,
    'humidity': 87,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 1.81, 'deg': 327.008},
   'rain': {},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-14 06:00:00'},
  {'dt': 1531558800,
   'main': {'temp': 296.834,
    'temp_min': 296.834,
    'temp_max': 296.834,
    'pressure': 1022.4,
    'sea_level': 1034.2,
    'grnd_level': 1022.4,
    'humidity': 78,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 2.06, 'deg': 342},
   'rain': {},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-14 09:00:00'},
  {'dt': 1531569600,
   'main': {'temp': 299.332,
    'temp_min': 299.332,
    'temp_max': 299.332,
    'pressure': 1022.07,
    'sea_level': 1033.83,
    'grnd_level': 1022.07,
    'humidity': 71,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 2.22, 'deg': 341.501},
   'rain': {},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-14 12:00:00'},
  {'dt': 1531580400,
   'main': {'temp': 300.129,
    'temp_min': 300.129,
    'temp_max': 300.129,
    'pressure': 1021.29,
    'sea_level': 1032.93,
    'grnd_level': 1021.29,
    'humidity': 63,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 2.46, 'deg': 332.504},
   'rain': {},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-14 15:00:00'},
  {'dt': 1531591200,
   'main': {'temp': 299.394,
    'temp_min': 299.394,
    'temp_max': 299.394,
    'pressure': 1021.07,
    'sea_level': 1032.9,
    'grnd_level': 1021.07,
    'humidity': 55,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 2.7, 'deg': 343.001},
   'rain': {},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-14 18:00:00'},
  {'dt': 1531602000,
   'main': {'temp': 293.941,
    'temp_min': 293.941,
    'temp_max': 293.941,
    'pressure': 1021.6,
    'sea_level': 1033.57,
    'grnd_level': 1021.6,
    'humidity': 68,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 2.21, 'deg': 347},
   'rain': {},
   'sys': {'pod': 'n'},
   'dt_txt': '2018-07-14 21:00:00'},
  {'dt': 1531612800,
   'main': {'temp': 290.372,
    'temp_min': 290.372,
    'temp_max': 290.372,
    'pressure': 1021.6,
    'sea_level': 1033.65,
    'grnd_level': 1021.6,
    'humidity': 82,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 1.35, 'deg': 336.501},
   'rain': {},
   'sys': {'pod': 'n'},
   'dt_txt': '2018-07-15 00:00:00'},
  {'dt': 1531623600,
   'main': {'temp': 288.188,
    'temp_min': 288.188,
    'temp_max': 288.188,
    'pressure': 1021.49,
    'sea_level': 1033.48,
    'grnd_level': 1021.49,
    'humidity': 84,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 1.52, 'deg': 328.503},
   'rain': {},
   'sys': {'pod': 'n'},
   'dt_txt': '2018-07-15 03:00:00'},
  {'dt': 1531634400,
   'main': {'temp': 291.492,
    'temp_min': 291.492,
    'temp_max': 291.492,
    'pressure': 1021.42,
    'sea_level': 1033.52,
    'grnd_level': 1021.42,
    'humidity': 80,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 1.77, 'deg': 352},
   'rain': {},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-15 06:00:00'},
  {'dt': 1531645200,
   'main': {'temp': 298.548,
    'temp_min': 298.548,
    'temp_max': 298.548,
    'pressure': 1021.35,
    'sea_level': 1033.23,
    'grnd_level': 1021.35,
    'humidity': 67,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 1.97, 'deg': 55.5002},
   'rain': {},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-15 09:00:00'},
  {'dt': 1531656000,
   'main': {'temp': 301.18,
    'temp_min': 301.18,
    'temp_max': 301.18,
    'pressure': 1020.71,
    'sea_level': 1032.49,
    'grnd_level': 1020.71,
    'humidity': 61,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 1.86, 'deg': 14.0075},
   'rain': {},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-15 12:00:00'},
  {'dt': 1531666800,
   'main': {'temp': 302.331,
    'temp_min': 302.331,
    'temp_max': 302.331,
    'pressure': 1019.16,
    'sea_level': 1030.95,
    'grnd_level': 1019.16,
    'humidity': 52,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 1.76, 'deg': 29.0031},
   'rain': {},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-15 15:00:00'},
  {'dt': 1531677600,
   'main': {'temp': 301.631,
    'temp_min': 301.631,
    'temp_max': 301.631,
    'pressure': 1018.14,
    'sea_level': 1029.96,
    'grnd_level': 1018.14,
    'humidity': 46,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 1.51, 'deg': 12.0006},
   'rain': {},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-15 18:00:00'},
  {'dt': 1531688400,
   'main': {'temp': 295.222,
    'temp_min': 295.222,
    'temp_max': 295.222,
    'pressure': 1018.02,
    'sea_level': 1029.91,
    'grnd_level': 1018.02,
    'humidity': 56,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 2.28, 'deg': 336},
   'rain': {},
   'sys': {'pod': 'n'},
   'dt_txt': '2018-07-15 21:00:00'},
  {'dt': 1531699200,
   'main': {'temp': 292.861,
    'temp_min': 292.861,
    'temp_max': 292.861,
    'pressure': 1017,
    'sea_level': 1028.91,
    'grnd_level': 1017,
    'humidity': 61,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '02n'}],
   'clouds': {'all': 8},
   'wind': {'speed': 3.21, 'deg': 18.0003},
   'rain': {},
   'sys': {'pod': 'n'},
   'dt_txt': '2018-07-16 00:00:00'},
  {'dt': 1531710000,
   'main': {'temp': 291.457,
    'temp_min': 291.457,
    'temp_max': 291.457,
    'pressure': 1015.15,
    'sea_level': 1027.1,
    'grnd_level': 1015.15,
    'humidity': 73,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03n'}],
   'clouds': {'all': 44},
   'wind': {'speed': 1.6, 'deg': 24.0015},
   'rain': {},
   'sys': {'pod': 'n'},
   'dt_txt': '2018-07-16 03:00:00'},
  {'dt': 1531720800,
   'main': {'temp': 294.477,
    'temp_min': 294.477,
    'temp_max': 294.477,
    'pressure': 1014.38,
    'sea_level': 1026.24,
    'grnd_level': 1014.38,
    'humidity': 76,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 24},
   'wind': {'speed': 1.31, 'deg': 14.0009},
   'rain': {},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-16 06:00:00'},
  {'dt': 1531731600,
   'main': {'temp': 298.874,
    'temp_min': 298.874,
    'temp_max': 298.874,
    'pressure': 1013.58,
    'sea_level': 1025.31,
    'grnd_level': 1013.58,
    'humidity': 65,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 24},
   'wind': {'speed': 1.98, 'deg': 77.5004},
   'rain': {},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-16 09:00:00'},
  {'dt': 1531742400,
   'main': {'temp': 301.163,
    'temp_min': 301.163,
    'temp_max': 301.163,
    'pressure': 1013.08,
    'sea_level': 1024.9,
    'grnd_level': 1013.08,
    'humidity': 60,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 68},
   'wind': {'speed': 2.55, 'deg': 230.002},
   'rain': {'3h': 0.14},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-16 12:00:00'},
  {'dt': 1531753200,
   'main': {'temp': 301.615,
    'temp_min': 301.615,
    'temp_max': 301.615,
    'pressure': 1012.19,
    'sea_level': 1023.93,
    'grnd_level': 1012.19,
    'humidity': 57,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 24},
   'wind': {'speed': 5.47, 'deg': 218.503},
   'rain': {'3h': 0.13},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-16 15:00:00'},
  {'dt': 1531764000,
   'main': {'temp': 300.364,
    'temp_min': 300.364,
    'temp_max': 300.364,
    'pressure': 1011.85,
    'sea_level': 1023.64,
    'grnd_level': 1011.85,
    'humidity': 47,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 24},
   'wind': {'speed': 5.37, 'deg': 250.502},
   'rain': {},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-16 18:00:00'},
  {'dt': 1531774800,
   'main': {'temp': 297.315,
    'temp_min': 297.315,
    'temp_max': 297.315,
    'pressure': 1012.63,
    'sea_level': 1024.57,
    'grnd_level': 1012.63,
    'humidity': 50,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 44},
   'wind': {'speed': 2.76, 'deg': 260.502},
   'rain': {'3h': 0.0074999999999998},
   'sys': {'pod': 'n'},
   'dt_txt': '2018-07-16 21:00:00'},
  {'dt': 1531785600,
   'main': {'temp': 293.22,
    'temp_min': 293.22,
    'temp_max': 293.22,
    'pressure': 1012.43,
    'sea_level': 1024.5,
    'grnd_level': 1012.43,
    'humidity': 68,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 2.86, 'deg': 227.5},
   'rain': {},
   'sys': {'pod': 'n'},
   'dt_txt': '2018-07-17 00:00:00'},
  {'dt': 1531796400,
   'main': {'temp': 290.616,
    'temp_min': 290.616,
    'temp_max': 290.616,
    'pressure': 1012.91,
    'sea_level': 1024.84,
    'grnd_level': 1012.91,
    'humidity': 87,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02n'}],
   'clouds': {'all': 20},
   'wind': {'speed': 3.42, 'deg': 270.502},
   'rain': {},
   'sys': {'pod': 'n'},
   'dt_txt': '2018-07-17 03:00:00'},
  {'dt': 1531807200,
   'main': {'temp': 290.87,
    'temp_min': 290.87,
    'temp_max': 290.87,
    'pressure': 1013.44,
    'sea_level': 1025.4,
    'grnd_level': 1013.44,
    'humidity': 85,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 64},
   'wind': {'speed': 3.86, 'deg': 258.501},
   'rain': {},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-17 06:00:00'},
  {'dt': 1531818000,
   'main': {'temp': 294.448,
    'temp_min': 294.448,
    'temp_max': 294.448,
    'pressure': 1013.96,
    'sea_level': 1025.82,
    'grnd_level': 1013.96,
    'humidity': 71,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 76},
   'wind': {'speed': 5.06, 'deg': 288.505},
   'rain': {'3h': 0.0125},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-17 09:00:00'},
  {'dt': 1531828800,
   'main': {'temp': 294.002,
    'temp_min': 294.002,
    'temp_max': 294.002,
    'pressure': 1014.35,
    'sea_level': 1026.01,
    'grnd_level': 1014.35,
    'humidity': 75,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 80},
   'wind': {'speed': 5.21, 'deg': 305.502},
   'rain': {'3h': 0.325},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-17 12:00:00'},
  {'dt': 1531839600,
   'main': {'temp': 296.71,
    'temp_min': 296.71,
    'temp_max': 296.71,
    'pressure': 1013.04,
    'sea_level': 1024.94,
    'grnd_level': 1013.04,
    'humidity': 68,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 36},
   'wind': {'speed': 2.26, 'deg': 319.503},
   'rain': {'3h': 0.0125},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-17 15:00:00'},
  {'dt': 1531850400,
   'main': {'temp': 296.197,
    'temp_min': 296.197,
    'temp_max': 296.197,
    'pressure': 1012.8,
    'sea_level': 1024.64,
    'grnd_level': 1012.8,
    'humidity': 65,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 64},
   'wind': {'speed': 2.11, 'deg': 266.5},
   'rain': {'3h': 0.5875},
   'sys': {'pod': 'd'},
   'dt_txt': '2018-07-17 18:00:00'},
  {'dt': 1531861200,
   'main': {'temp': 293.836,
    'temp_min': 293.836,
    'temp_max': 293.836,
    'pressure': 1013.21,
    'sea_level': 1025.09,
    'grnd_level': 1013.21,
    'humidity': 75,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 92},
   'wind': {'speed': 2.07, 'deg': 270.511},
   'rain': {},
   'sys': {'pod': 'n'},
   'dt_txt': '2018-07-17 21:00:00'}],
 'city': {'id': 2988507,
  'name': 'Paris',
  'coord': {'lat': 48.8534, 'lon': 2.3488},
  'country': 'FR'}}

# Days off in France

No dataset easily available, we are going to scrap the web :
https://www.calendrier-365.fr

In [30]:
import re
import requests
from datetime import datetime
from bs4 import BeautifulSoup

days_off = []
for year in range(2012,2020):
    url = 'https://www.calendrier-365.fr/jours-feries/{}.html'.format(year)
    response = requests.get(url)
    soup = BeautifulSoup(response.text,"lxml")
    for x in soup.find_all("td", {"class":"dtr tar"}):
        date = datetime.fromtimestamp(int(x.attrs["data-value"]))
        days_off.append(date.strftime("%Y-%m-%d"))

In [31]:
days_off

['2012-01-01',
 '2012-01-06',
 '2012-02-14',
 '2012-02-21',
 '2012-04-08',
 '2012-04-08',
 '2012-04-09',
 '2012-05-01',
 '2012-05-08',
 '2012-05-17',
 '2012-05-27',
 '2012-05-27',
 '2012-05-28',
 '2012-07-14',
 '2012-08-15',
 '2012-11-01',
 '2012-11-11',
 '2012-12-25',
 '2012-12-31',
 '2013-01-01',
 '2013-01-06',
 '2013-02-12',
 '2013-02-14',
 '2013-03-31',
 '2013-03-31',
 '2013-04-01',
 '2013-05-01',
 '2013-05-08',
 '2013-05-09',
 '2013-05-19',
 '2013-05-19',
 '2013-05-20',
 '2013-07-14',
 '2013-08-15',
 '2013-11-01',
 '2013-11-11',
 '2013-12-25',
 '2013-12-31',
 '2014-01-01',
 '2014-01-06',
 '2014-02-14',
 '2014-03-04',
 '2014-04-20',
 '2014-04-20',
 '2014-04-21',
 '2014-05-01',
 '2014-05-08',
 '2014-05-29',
 '2014-06-08',
 '2014-06-08',
 '2014-06-09',
 '2014-07-14',
 '2014-08-15',
 '2014-11-01',
 '2014-11-11',
 '2014-12-25',
 '2014-12-31',
 '2015-01-01',
 '2015-01-06',
 '2015-02-14',
 '2015-02-17',
 '2015-04-05',
 '2015-04-05',
 '2015-04-06',
 '2015-05-01',
 '2015-05-08',
 '2015-05-14',
 '2015-05-24',
 '2015-05-24',
 '2015-05-25',
 '2015-07-14',
 '2015-08-15',
 '2015-11-01',
 '2015-11-11',
 '2015-12-25',
 '2015-12-31',
 '2016-01-01',
 '2016-01-06',
 '2016-02-09',
 '2016-02-14',
 '2016-03-27',
 '2016-03-27',
 '2016-03-28',
 '2016-05-01',
 '2016-05-05',
 '2016-05-08',
 '2016-05-15',
 '2016-05-15',
 '2016-05-16',
 '2016-07-14',
 '2016-08-15',
 '2016-11-01',
 '2016-11-11',
 '2016-12-25',
 '2016-12-31',
 '2017-01-01',
 '2017-01-06',
 '2017-02-14',
 '2017-02-28',
 '2017-04-16',
 '2017-04-16',
 '2017-04-17',
 '2017-05-01',
 '2017-05-08',
 '2017-05-25',
 '2017-06-04',
 '2017-06-04',
 '2017-06-05',
 '2017-07-14',
 '2017-08-15',
 '2017-11-01',
 '2017-11-11',
 '2017-12-25',
 '2017-12-31',
 '2018-01-01',
 '2018-01-06',
 '2018-02-13',
 '2018-02-14',
 '2018-04-01',
 '2018-04-01',
 '2018-04-02',
 '2018-05-01',
 '2018-05-08',
 '2018-05-10',
 '2018-05-20',
 '2018-05-20',
 '2018-05-21',
 '2018-07-14',
 '2018-08-15',
 '2018-11-01',
 '2018-11-11',
 '2018-12-25',
 '2018-12-31',
 '2019-01-01',
 '2019-01-06',
 '2019-02-14',
 '2019-03-05',
 '2019-04-21',
 '2019-04-21',
 '2019-04-22',
 '2019-05-01',
 '2019-05-08',
 '2019-05-30',
 '2019-06-09',
 '2019-06-09',
 '2019-06-10',
 '2019-07-14',
 '2019-08-15',
 '2019-11-01',
 '2019-11-11',
 '2019-12-25',
 '2019-12-31']

In [ ]:
def is_day_off(date):
    """
    Function to tell if a day is off in France
    Only works from 2013 to 2020.
    """
    if date.strftime("%Y-%m-%d") in days_off:
        return True
    return False

In [ ]:
import datetime

today = datetime.datetime.today() 

next_saturday = today + datetime.timedelta(days=2)
christmas = datetime.datetime(2018,12,25)
easter = datetime.datetime(2015,4,5)

print(is_day_off(next_saturday))
print(is_day_off(today))
print(is_day_off(christmas))
print(is_day_off(easter))

# Strikes in Paris
Copyright to William Revah

In [41]:
from bs4 import BeautifulSoup
import requests
import datetime

strikes = []

url = "https://fr.wikipedia.org/wiki/Liste_des_manifestations_les_plus_importantes_en_France"
response = requests.get(url)
soup = BeautifulSoup(response.text,"lxml")
for table in soup.find_all("table"):
    for x in table.find_all("tr"):
        date=x.find_next("time")
        strikes.append(date.attrs["datetime"])

print(strikes)

['1790-07-14',
 '1790-07-14',
 '1794-06-08',
 '1832-06-05',
 '1832-06-05',
 '1832-06-05',
 '1832-06-05',
 '1840-12-15',
 '1840-12-15',
 '1869-10-08',
 '1869-10-08',
 '1877-09-08',
 '1877-09-08',
 '1885-06-01',
 '1891-05-01',
 '1894-07-01',
 '1908-07-31',
 '1908-07-31',
 '1908-07-31',
 '1931-01-07',
 '1934-02-12',
 '1935-07-14',
 '1936-05-24',
 '1944-08-26',
 '1944-08-26',
 '1951-02',
 '1953-07-14',
 '1961-10-17',
 '1962-02-13',
 '1968-05-13',
 '1968-05-30',
 '1977-07-31',
 '1983-10-15',
 '1984-03-04',
 '1984-06-24',
 '1986-12-04',
 '1986-12-10',
 '1989-07-14',
 '1994-01-16',
 '1995-12-12',
 '1998-07-13',
 '2002-05-01',
 '2002-05-01',
 '2003-05-13',
 '2003-05-13',
 '2003-06-03',
 '2013-05-17',
 '2013-05-17',
 '2006-03-18',
 '2006-03-28',
 '2013-05-17',
 '2013-05-17',
 '2009-01-29',
 '2009-01-29',
 '2009-03-19',
 '2010-03-23',
 '2010-03-23',
 '2010-05-27',
 '2010-06-24',
 '2010-09-07',
 '2010-09-23',
 '2010-10-02',
 '2010-10-12',
 '2010-10-16',
 '2010-10-19',
 '2010-10-28',
 '2010-11-06',
 '2013-01-13',
 '2013-01-13',
 '2013-01-13',
 '2013-01-13',
 '2013-03-24',
 '2013-05-26',
 '2014-02-02',
 '2014-10-05',
 '2015-01-10',
 '2016-03-31',
 '2016-06-14',
 '2017-12-09']