# Data Cleaning / Wrangling

**Goal** : gather all the data in one clean csv file


## Step 1 : Consumptions

In [1]:
# import the data
import pandas as pd
df1 = pd.read_csv("./data/eco2mix-regional-cons-def.csv", delimiter=";")

In [2]:
# inspect the table
print("Shape", df1.shape)
print("Columns", df1.columns)
df1.sample(3)

Shape (99312, 15)
Columns Index(['Code INSEE région', 'Région', 'Nature', 'Date', 'Heure',
       'Date - Heure', 'Consommation (MW)', 'Thermique (MW)', 'Nucléaire (MW)',
       'Eolien (MW)', 'Solaire (MW)', 'Hydraulique (MW)', 'Pompage (MW)',
       'Bioénergies (MW)', 'Ech. physiques (MW)'],
      dtype='object')

,Code INSEE région,Région,Nature,Date,Heure,Date - Heure,Consommation (MW),Thermique (MW),Nucléaire (MW),Eolien (MW),Solaire (MW),Hydraulique (MW),Pompage (MW),Bioénergies (MW),Ech. physiques (MW)
57050,11,Ile-de-France,Données définitives,2015-07-20,03:00,2015-07-20T03:00:00+02:00,4896.0,-3.0,NaN,0.0,0.0,6.0,NaN,103.0,4789.0
8114,11,Ile-de-France,Données consolidées,2017-09-27,17:00,2017-09-27T17:00:00+02:00,7668.0,3.0,NaN,0.0,20.0,7.0,NaN,127.0,7512.0
64653,11,Ile-de-France,Données définitives,2013-02-06,09:00,2013-02-06T09:00:00+01:00,12614.0,687.0,NaN,15.0,0.0,0.0,NaN,128.0,11782.0

In [3]:
# keep only interesting columns

In [6]:
# Check column types

In [ ]:
# Convert column types if needed

In [ ]:
# Check for duplicates

In [ ]:
# Remove duplicates

In [ ]:
# Rename columns

In [ ]:
# Check days with missing half hours

We have days with less that 48 half hours, **interesting** !

## Step 2 : Temperatures

In [ ]:
df2 = pd.read_csv("./data/meteo-paris.csv")

## Step 3 : Merge everything together

[Documentation on how to merge with pandas](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html)


![How to merge](https://shanelynnwebsite-mid9n9g1q9y8tt.netdna-ssl.com/wp-content/uploads/2017/03/join-types-merge-names.jpg)


**Inner Merge / Inner join** – The default Pandas behaviour, only keep rows where the merge “on” value exists in both the left and right dataframes.

**Left Merge / Left outer join** – Keep every row in the left dataframe. Where there are missing values of the “on” variable in the right dataframe, add empty / NaN values in the result.

**Right Merge / Right outer join** – Keep every row in the right dataframe. Where there are missing values of the “on” variable in the left column, add empty / NaN values in the result.

**Outer Merge / Full outer join** – A full outer join returns all the rows from the left dataframe, all the rows from the right dataframe, and matches up rows where possible, with NaNs elsewhere.

# Step 4 : handle missing half hours

# Step 4 : interpolate missing values
We want to keep our historical consumptions (which are precious) so we will interpolate missing values for temperature

First question : where are missing values ?

# That's Clean !