# Feature Engineering

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. (wikipedia)


## Workshop : find some new features (15min)
Only use available data: 
- Consumption for each day
- Temperature for each day
- is_day_off function

In [1]:
from modules.utils import get_data, days_off
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

df = get_data()

In [2]:
df.head()

                 Date   Conso  Temp
1 2013-01-01 00:30:00  9134.0  5.76
2 2013-01-01 01:00:00  8822.0  5.76
3 2013-01-01 01:30:00  8499.0  5.76
4 2013-01-01 02:00:00  8229.0  5.76
5 2013-01-01 02:30:00  8150.0  5.76

In [3]:
days_off[:3]

['2013-01-01', '2013-01-06', '2013-02-12']

# Day, week, month, year

# Lags

# Days off

# Heating and cooling degrees

# is_weekend

# temp_rolling_7_days

# Automate everyting

In [1]:
from modules.utils import get_data_with_features

df = get_data_with_features()

In [2]:
df.describe()

,Conso,Temp,is_day_off,conso_24_lag,temp_24_lag,conso_7_days_lag,heating_degrees,cooling_degrees,is_weekend,day_of_week,temp_rolling_7_days,month
count,90395.000000,90395.000000,90395.0,90395.000000,90395.000000,90395.000000,90395.000000,90395.000000,90395.000000,90395.000000,90395.000000,90395.000000
mean,8331.616373,11.650060,0.0,8331.596206,11.649667,8322.948349,7.145882,0.151114,0.285735,3.000033,11.656541,6.376525
std,2198.284719,7.136637,0.0,2198.391600,7.136592,2187.503271,5.880116,0.877992,0.451766,2.000080,6.195277,3.498116
min,3982.000000,-10.542000,0.0,3982.000000,-10.542000,3982.000000,0.000000,0.000000,0.000000,0.000000,-3.032690,1.000000
25%,6701.000000,6.408679,0.0,6701.000000,6.410000,6701.000000,1.465000,0.000000,0.000000,1.000000,6.792003,3.000000
50%,8047.000000,11.335000,0.0,8047.000000,11.331000,8044.000000,6.665000,0.000000,0.000000,3.000000,11.348635,6.000000
75%,9866.000000,16.535000,0.0,9866.000000,16.535000,9852.000000,11.591321,0.000000,1.000000,5.000000,16.865900,9.000000
max,15338.000000,38.060000,0.0,15338.000000,38.060000,15286.000000,28.542000,14.060000,1.000000,6.000000,25.751423,12.000000

![xkcd](https://imgs.xkcd.com/comics/machine_learning.png)